body{
    background-color: #efefef;
    font-family:"PT Sans",Helvetica,sans-serif;
}
hr{
    margin-top: -2.5em;
    margin-bottom: 3em;
    border: 1px solid #eee;
    border-top: none;
    border-left: none;
    border-right: none;
}
form{
    margin: 0 auto;
    max-width: 200px;
    padding: 1em;
    text-align: center;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .2);
}
form img{
    width: 5em;
    height: 5em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
form .name{
    display: inline;
    font-size: 1.3em;
    color: #666;
}
form input:focus, form button:focus{
    outline:0;
}
#number{
    display: block;
    margin: 0 auto;
    margin-bottom: 3%;
    text-align: center;
    font-size: 1.2em;
    font-weight: 200;
    color: #666;
    border: none;
}
#dial{
    display: block;
    margin: 1em auto 1em;
    width: 180px;
    min-height: 50px;
    padding: 0.5em;
    background-color: #791e74;
    border: 2px solid #fff;
    border-radius: 6px;
    color: #fff;
    font-size: 130%;
    cursor: pointer;
    transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}
#dial.incall{
    cursor: default;
    background-color: #fff !important;
    border: 2px solid #791e74 !important;
    color: #791e74 !important;
    transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}
#dial.disabled{
    cursor: default;
}
#dial:hover{
    background-color: #591854;
    transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}
#phone-dial{
    -webkit-animation:none;
    -moz-animation:none;
    animation:none;
}
#phone-dial.spin{
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.options{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 100%;
    opacity: 1;
}

#hangup{
    margin-right: 2em;
    border: 3px solid #e74c3c;
    background-color: #fff;
    color: #e74c3c;
    cursor: pointer;
    transform:rotate(135deg);
    -ms-transform:rotate(135deg);  /* IE 9 */
    -webkit-transform:rotate(135deg); /* Opera, Chrome, and Safari */
    transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}
#hangup:hover{
    border: 3px solid #e74c3c;
    background-color: #e74c3c;
    color: #fff;
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
#hangup.disabled{
    opacity: 0;
    cursor: default;
    transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

#mute{
    margin-left: 2em;
    border: 3px solid #666;
    background-color: #fff;
    color: #666;
    font-size: 100%;
    cursor: pointer;
    opacity: 1;
    transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -moz-transition: all s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}
#mute.muted{
    background-color: #666;
    color: #fff;
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
#mute.disabled{
    opacity: 0;
    cursor: default;
    transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}
.disclaimer{
    margin: 2em auto;
    text-align: left;
    max-width: 400px;
    font-size: .7em;
    color: #999;
    font-style: italic;
}
.branding{
    display: block;
    margin: 0 auto;
    height: 70px;
    width: 150px;
    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    background: url(/images/outline-purple-sprite.png) no-repeat;
}
.branding:hover{
    background-position: -149px 0px;
}
